@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, Arial, sans-serif, system-ui;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #222;
}

.title {
    @apply text-6xl font-semibold text-white mb-4 flex justify-center items-center mt-8;
}

.gameModeText {
    @apply text-3xl font-semibold text-gray-400 mb-2 flex justify-center items-center;
}

.gameModeButtonContainer {
    @apply flex flex-col justify-center items-center;
}

.gameModeButton {
    @apply w-1/6 text-4xl font-semibold text-gray-200 m-1 border-2 border-sky-600 rounded-md p-3 hover:bg-sky-600;
    background-color: #323338;
}
